<div class="header" id="header" role="heading">
  <div class="title" (click)="reloadPage()">
    MyHome
  </div>

  <div class="padding">
  </div>
  <div class="button-container">
    <div class="login">
      <button class="btn btn-login" *ngIf="isSession !== true" (click)="openLoginModal()">login</button>
    </div>
    <div class="register" *ngIf="isSession !== true">
      <button class="btn btn-register"  (click)="openRegisterModal()">register</button>
    </div>
    <div class="user" *ngIf="isSession === true">
      <h2 class="user">{{currentUser}}</h2>
    </div>
    <div class="logout" *ngIf="isSession === true">
      <button class="btn btn-logout" (click)="endSession()">logout</button>
    </div>
  </div>
</div>
<div id="loginModal" class="modal">
  <div class="modal-content">
    <span class="close" (click)="closeLoginModal()">&times;</span>
    <div class="login-title">
      Login
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
      <div class="input-container">
          <input class="inputs"
                 autocomplete="off"
                 id=username
                 maxlength="40"
                 formControlName="username"
                 placeholder="username"
                 type="text">
        <div *ngIf="g.username.touched && g.username.invalid">
          <div *ngIf="g.username.errors.required" class="warning">Add a valid username please</div>
        </div>
        <br>
          <input class="inputs"
                 id="password"
                 maxlength="40"
                 formControlName="password"
                 placeholder="password"
                 type="password">
        <div *ngIf="g.password.touched && g.password.invalid">
          <div *ngIf="g.password.errors.required && g.password.value===''" class="warning">Add a valid user/password combination to log in</div>
        </div>
      </div>
      <br>
      <div class="submit-container">
        <button class="btn btn-submit" type="submit">Sign in</button>
      </div>
    </form>
  </div>
</div>
<div id="registerModal" class="modal">
  <div class="modal-content">
    <span class="close" (click)="closeRegisterModal()">&times;</span>
    <div class="register-title">
      Register
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="registerUser()" autocomplete="off">
      <div class="input-container">
        <input id="email"
               class="inputs"
               maxlength="40"
               formControlName="email"
               name="email"
               placeholder="e-mail"
               type="email">
        <div *ngIf="f.email.touched && f.email.invalid">
          <div *ngIf="f.email.errors.required"  class="warning">Email is required!</div>
          <div *ngIf="f.email.errors.email && f.email.value !== ''"  class="warning">Please, enter valid email address!</div>
        </div>
        <br>
        <input class="inputs"
               maxlength="40"
               id="user"
               formControlName="user"
               placeholder="username"
               type="text">
        <div *ngIf="f.user.touched && f.user.invalid">
          <div *ngIf="f.user.errors.required" class="warning">Username is required!</div>
          <div *ngIf="!f.user.errors.minLength && f.user.value !== ''" class="warning">
            Username must be at least 3 characters!
          </div>
        </div>
        <br>
        <input class="inputs"
               maxlength="40"
               id="pass"
               formControlName="pass"
               placeholder="password"
               type="password">
        <div *ngIf="f.pass.touched && f.pass.invalid">
          <div *ngIf="f.pass.errors.required" class="warning">Password is required!</div>
          <div *ngIf="!f.pass.errors.minLength && f.pass.value !== ''" class="warning">
            Password must be at least 8 characters!
          </div>
        </div>
        <br>
        <input class="inputs"
               id="pass2"
               maxlength="40"
               formControlName="pass2"
               placeholder="password confirm"
               type="password">
        <div *ngIf="checkPasswords() && f.pass2.value !== ''" class="warning">Passwords must match!</div>
        <div *ngIf="f.pass2.touched && f.pass2.invalid">
          <div *ngIf="f.pass2.errors.required" class="warning">Password confirm is required!</div>
        </div>
        <div class="checkbox-container">
          <label for="toggle">Show Passwords:</label><input id="toggle" type="checkbox" (click)="toggleVisible()">
        </div>
        <br>
      </div>
      <div class="submit-container">
        <button class="btn btn-submit" type="submit" [disabled]="!registerForm.valid">Submit</button>
      </div>
    </form>
  </div>
</div>



