.header{
  display: flex;
  margin-left: auto;
  margin-top: auto;
  height: 3em;
  max-height: 3em;
  text-align: center;
  color: black;
  font-weight: bold;
  background-color: rgba(48,48,48, 0.8);
}

.title{
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
  font-size: 2em;
  font-family: "Palatino Linotype";
  /*width: 1em;*/
  padding: 0px;
  margin-left: 5%;
  color: aliceblue;
}

.user{
  font-family: Arial;
  color: whitesmoke;
  font-size: 25px;
  /*height: auto;*/
  margin-top: 5px;
  margin-right: 3px;
  font-weight: lighter;
}


.padding{
  width: 100%;
}

.button-container{
  display: flex;
  flex-direction: row;
  margin-right: 3em;
}

.btn-login{
  border-radius: 3px;
  padding:2px;
}

.btn-register{
  border-radius: 3px;
  padding:2px;
}


.input-container{
  margin-top: 5px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.btn-submit{
  display: block;
  margin: auto;
  width: 55%;
  border-radius: 1em;
  height: 2em;
}

.submit-container{
  margin-left: auto;
  margin-right: auto;
}

/*.labels{*/
/*  margin-right: 5px;*/
/*  font-size: 20px;*/
/*  color: aliceblue;*/
/*}*/

#toggle{
  font-size: 2em;
}

/* The Close Button */
.close {
  color: lightgrey;
  float: right;
  font-size: 2em;
  margin-right: 1em;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}


.checkbox-container{
  margin: auto;
  margin-top: 15px;
  font-size: 20px;
  color: whitesmoke;
  display: block;
  width: 50%;
}
