html, body{
  /*overflow: auto;*/
  max-width: 100%;
  overflow-x: hidden;
  margin: 0px;
  background-color: black;
}
h3{
  color: whitesmoke;
  margin-left: 10%;
}

.login-title{
  margin-bottom: 10px;
  color: aliceblue;
  font-size: 3em;
  font-family: "Droid Sans";
  width: 5em;
  padding: 0px;
  margin-left: 1em;
}
.register-title{
  color: aliceblue;
  font-size: 3em;
  font-family: "Droid Sans";
  width: 5em;
  padding: 0px;
  margin-left: 1em;
}


a{

}
a,
a:visited,
a:hover {
  color: aliceblue;
  cursor: pointer;
  color: gray;
  text-decoration: none;
}

.btn{
  margin-left: 5px;
  margin-top: 10px;
  width: 4em;
  color: aliceblue;
  font-family: Arial;
  font-size: 24px;
  border: none;
  background: none;
  border-radius: 1em;
}
.btn:hover{
  cursor:pointer;
  background: rgb(50, 50, 51);
  border-radius: 10px;
  border-color: rgba(0,0,0,0);
  /*text-shadow: 0px 0px 5px aliceblue;*/
}
.btn:focus{
  background: rgb(56, 56, 69);
  border-radius: 10px;
  border-color: rgba(0,0,0,0);
}


.frame{
  border: 0px;
  width: 100%;
  margin: auto;
  min-height: 860px;
}
.frame-hidden{
  display: none !important;
}
.frame-active{
  display: block !important;
}

iframe{
  overflow: hidden;
}

.btn-x{
  background-color: rgba(0,0,0,0);
  /*margin-left: 0px;*/
  margin-right: 1em;
  padding-top: 2px;
  font-weight: bold;
  /*width: 30px;*/
  /*height: 30px;*/
  color: #b00000 !important;
  display: inline-flex;
  font-size: 30px;
  text-shadow: 1px 1px 1px black;
  border: 0px solid rgba(0,0,0,0);
}
.btn-x:hover{
  display: inline-block;
  color: red !important;
  text-shadow: 1px 1px 3px black;
  /*background-color: black;*/
  border: 0px solid rgba(0,0,0,0);
  border-radius: 2em;
}
.btn-x:active{
  color: red !important;
}
.btn-x:focus{
  color: red !important;
}


/*input[type="search"]::-webkit-search-cancel-button {*/
/*  -webkit-appearance: none;*/
/*  height: 1em;*/
/*  width: 1em;*/
/*  border-radius: 50em;*/
/*  background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;*/
/*  background-size: contain;*/
/*  opacity: 0;*/
/*  !*pointer-events: none;*!*/
/*}*/
#Search::-webkit-search-cancel-button{
  position:relative;
  right:20px;

  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 1em;
  background: grey;
}

input.ng-invalid.ng-touched{
  border: 1px solid red;
}
input.ng-valid{
  border: 1px solid #343434;
}
/*.ng-valid[required], .ng-valid.required{*/
/*  border: 1px solid green;*/
/*}*/

.warning{
  padding: 5px;
  border: 1px solid red;
  border-radius: 10px;
  color: red;
  background-color: black;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}
@media screen and (max-width : 1024px){
  .register-title{
    margin-left: 1px !important;
  }
  .modal-content{
    width: 85% !important;
  }
  .inputs{
    width: 80% !important;
    font-size: 1em !important;
  }
  .warning{
    width: 65% !important;
  }
  .add-link{
    width: 90% !important;
    display: flex !important;
    flex-direction: column !important;
  }
  #Search{
    margin: auto !important;
    width: 80% !important;
    font-size: 22px !important;
  }
  .btn-add {
    margin: auto !important;
    margin-top: 0px !important;
    width: 81% !important;
    font-size: 14px !important;
    /*margin-top: 5px !important;*/
    /*margin-bottom: 5px !important;*/
  }
  .register-title{
    font-size: 2em !important;
  }
  .login-title{
    font-size: 2em !important;
  }
  .title{
    margin-top: auto !important;
    margin-bottom: auto !important;
    font-size: 20px !important;
  }
  .btn-login{
    font-size: 20px !important;
  }
  .btn-register{
    /*margin-bottom: auto !important;*/
    font-size: 20px !important;
    /*margin-right: 0px !important;*/
  }
  .btn-logout{
    margin-bottom: auto !important;
    font-size: 20px !important;
    /*margin-right: 0px !important;*/
  }
  .user{
    margin-bottom: auto !important;
    font-size: 20px !important;
  }
  .button-container{
    max-width: 80% !important;
  }
  .btn-close{
    margin-left: 0px !important;
    margin-right: 0px !important;
    max-width: 4em !important;
    font-size: 1em !important;
  }
  /*.btn-prev{*/
  /*  max-width: 2em !important;*/
  /*  font-size: 1em !important;*/
  /*}*/
  /*.btn-next{*/
  /*  max-width: 2em !important;*/
  /*  font-size: 1em !important;*/
  /*}*/
}

.modal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 2em; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content{
  background-color: #575757;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 50%;
  height: auto;
}

.inputs{
  display: block;
  margin: 0 auto;
  background-color: #232323;
  color: lightgray;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 2em;
  border: 1px solid #232323;
  height: 2em;
  font-size: 2em;
  width: 50%;
}
.inputs:hover{
  background-color: black;
}
.inputs:focus{
  background-color: black;
}

.links{
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  cursor: pointer;
  display: inline-flex;
  height: auto;
}
.links:hover{
  color: black;
}
.btn-link{
  width: 12rem;
  font-size: 1em;
  margin-left: 0px;
  margin-right: 0px;
  background-color: #666666;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.link{
  margin-right: 1em;
}


::-webkit-scrollbar {
  width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #454545;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333;
}
